.learn-container{
    margin-left: 6rem;
}

.teach-container {
    margin-top: 18vh;
    margin-left: auto;
}
.teach-container h2{
    margin-left:10px
}
.form-fields{
    display: flex;
}
.table-header{
    background-color: rgb(77, 77, 231);
    font-weight: bold;
    color: white;
    text-align: center;
}
.search-box{
    width: 500px;
    padding: 5px;
    margin-left:39rem;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 5px;
    
}
.create-messages{
    color:red;
    margin:auto;
    margin-left:30rem;
    margin-bottom:10px
}
.learn-header{
    text-align: center;
    padding-top: 10px;
}
.search-box-learn{
    width: 500px;
    padding: 5px;
    margin-left:30rem;
    margin-bottom: 15px;
    border-radius: 5px;
}